"*":
  "autocomplete-plus":
    enableAutoActivation: false
  "autocomplete-python":
    showTooltips: true
    suggestionPriority: 1
    useKite: false
    useSnippets: "all"
  core:
    disabledPackages: [
      "linter-flake8"
      "jupyter-notebook"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini .git"
    ]
    telemetryConsent: "no"
    uriHandlerRegistration: "always"
  editor:
    fontSize: 15
    preferredLineLength: 79
    scrollPastEnd: true
    showIndentGuide: true
    softWrapHangingIndent: 4
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "a606372a-bd50-4b91-9a13-669ecab89621"
  github:
    remoteFetchProtocol: "ssh"
  "linter-flake8":
    executablePath: "/home/dmaidment/dev/medical/flask-app/virtual/lib/python3.8/site-packages/flake8"
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  minimap: {}
  "spell-check":
    locales: [
      "en-GB"
    ]
    useSystem: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
