"*":
  "autocomplete-plus":
    enableAutoActivation: false
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "linter-flake8"
      "jupyter-notebook"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini .git"
    ]
    telemetryConsent: "no"
  editor:
    preferredLineLength: 79
    scrollPastEnd: true
    showIndentGuide: true
    softWrapHangingIndent: 16
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "a606372a-bd50-4b91-9a13-669ecab89621"
  "linter-flake8":
    executablePath: "/home/dmaidment/dev/medical/flask-app/virtual/lib/python3.8/site-packages/flake8"
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  "spell-check":
    locales: [
      "en-GB"
    ]
    useSystem: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
